sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
Flask>=2.3,<4
llama-cpp-python>=0.2.90,<0.3.0
bs4>=0.0.1
beautifulsoup4>=4.12.2
jsonlines>=3.1.0
pandas>=2.1.0
psycopg_pool>=1.2.0
psycopg>=3.2.0
urllib3>=2.1.0
psycopg[binary]>=3.2.0
